
.kaza__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto 30px auto;

    &__logo {
        width: 210px;
        height: 68px;
    }

    &__links{
        &__link{
            color: #FF6060;
            font-size: 22px;
            text-decoration: none;
            &:nth-child(1){
                margin-right: 20px;
            }
        &:hover {
            text-decoration: underline;
        }
    }
    }
}


@media only screen and (max-width: 375px) {
    .kaza__nav {
        &__logo {
            width: 130px;
            height: 40px;
        }
        &__links{
            &__link{
                font-size: 15px;
            }
        }
    }
}
