
.kaza__collapse{
    display: flex;
    flex-wrap: wrap;
    background-color: #FF6060;
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
    &__title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
        color: white;
            & h1{
            font-weight: 400;
            font-size: 18px;}
        
        & img{
            height: 10px;
            padding-right: 15px;
        }
    }
    &__text{
        height: 0;
        overflow: hidden;
    }
    &__textOpen{
        min-height: 80px;
        font-weight: 400;
        width: 100%;
        border-radius: 0 0 4px 4px;
        padding: 20px 15px;
        background-color: #F7F7F7;
        color: #FF6060;
        list-style: none;
        & p{
            margin: 0
        }

    }
}

