
.kaza__collapse{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FF6060;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
    &__title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
        color: white;
        font-size: 11px;
        & img{
            height: 10px;
            padding-right: 15px;
        }
    }
    &__text{
        height: 0;
        overflow: hidden;
    }
    &__textOpen{
        min-height: 80px;
        width: 100%;
        border-radius: 0 0 4px 4px;
        padding: 20px 0 20px 10px;
        background-color: #F7F7F7;
        color: #FF6060;
        font-size: 18px;
        list-style: none;
        flex:1;
    }
}

