.kaza__footer{
	background-color: black;
	display: flex;
	flex-direction: column;
   	width:100%;

	& img{
		width: 110px;
		margin: 40px 0 10px 0;
		margin-left: auto;
		margin-right: auto;
	}
	&__text{
		color: white;
		margin: 10px 0 5px 0;
		margin-left: auto;
		margin-right: auto;
	}
}