.kaza__footer{
	background-color: black;
   	width:100%;
	min-height: 140px;
	display: flex;

	&__wrapper{
		margin: auto;
		align-items: center;
		display: flex;
		flex-direction: column;
	}
	

	& img{
		width: 110px;
	}
	&__text{
		padding-top: 10px;
		color: white;
	}
}