
.kaza__slides{
    position: relative;
    &__pictures {
        height: 415px;
        border-radius: 15px;
        margin: 0 auto;
        flex-grow: 1;
        display: flex;
        align-items: center;
        overflow: hidden;
        & img{
            object-fit:cover;
            width: 100%;
            height:-webkit-fill-available;
            flex-grow: 1;
            display: flex;
        }
    }
    &__vectorleft{
        & img{
            width: 30px;
            position: absolute;
            transform: translate(0, -50%);
            top: 50%;
            cursor: pointer;
            left: 10px;
        }
    }
    &__vectorright{
        & img{
            width: 30px;
            position: absolute;
            transform: translate(0, -50%);
            top: 50%;
            cursor: pointer;
            right: 10px;
        }
    }
    &__hiddenvector{
        height: 0;
        overflow: hidden;
    }
}
    

@media only screen and (max-width: 900px) {
    .kaza__slides{
        &__pictures {
            height: 255px;
        }
    }
}
    


