

.kaza__product__title{
    color: #FF6060;
    font-weight: bold;
    font-size: 1.5em;
    margin: 10px 0 10px;
}

.kaza__product__location{
    color: #FF6060;
    margin: 10px 0 10px;
}

.kaza__product__tags{
    margin: 20px 0 10px;
    & span{
        background-color: #FF6060;
        border-radius: 10px;
        color: white;
        padding: 5px 20px;
        margin-right: 10px;
        font-size: 0.8em;
    }
}